h1 {
    font: 15px, Georgia, Serif;
    align: left;
}

.topnav {
    background-color: #E6E6FA;
    overflow: hidden;
}

.topnav a {
    float: left;
    background-color:	#E6E6FA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
  background-color: #9370DB;
  color: white;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.column {
  float: left;
  width: 25%;
}

.content {
  background-color: white;
  padding: 5px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
